.header_container{
    height: 56px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    margin-bottom: 20px;
    .header_content{
        min-width: 786px;
        max-width: 1440px;
        margin: 0 auto;
        height: auto;
        display: block;
        position: relative;
        a{
            float: left;
            .header_navimg{
                width: 100px;
                height: 56px;  
            }
        } 

       
        .container{
            width: 960px;
            height: 56px;
            padding: 0 100px 0 15px;
            margin: 0 auto;
            .nav_menu{
                line-height: 26px;
                padding: 15px;
                text-align: center;
                font-size: 18px;
                color: #333;
                i{
                    font-size: 20px;
                    color: #969696;
                }
            }
            .nav_menu_left{
                float: left;
            }
            .nav_menu_right{
                float: right;
            }
            .header_search{  
                float: left;
                position: relative;
                margin-left: 20px;
                .header_search_input{
                    width: 180px;
                    height: 38px;
                    line-height: 38px;
                    padding: 0 40px 0 20px;
                    margin-top: 7px;
                    border: 1px solid #eee;
                    border-radius: 40px;
                    background: #eee;
                    color: #666;
                }
                i{
                    position: absolute;
                    right: 6px;
                    top: 14px;
                    font-size: 26px;
                    color: #969696;
                }
                .slide-enter{
                    transition: all .2s ease-out;
                }
                // .slide-enter-active{
                //     width: 220px;
                // }
                .slide-exit{
                    transition: all .2s ease-out;
                }
                // .slide-exit-active{
                //     width: 180px;
                // }
                .focused{
                    width: 230px;
                }
                .focused_icon{
                    background-color: #666;
                    border-radius: 50%; 
                    padding: 4px;
                    top: 10px;
                    color: 20px;
                }
                /**
                  * 搜索弹窗显示样式               
                */
                .search_mock{
                    background-color: #fff;
                    box-shadow: 0 0 8px rgba(0,0,0,.2);
                    width: 250px;
                    padding: 20px 20px 10px;
                    overflow: hidden;
                    display: block;
                    position: absolute;
                    top: 58px;
                    .search_title{
                        overflow: hidden;
                        margin-bottom: 10px;
                    }
                    .search_hot{
                        float: left;
                        font-size: 14px;
                        color: #969696;
                    }
                    .search_batch{
                        float: right;
                        font-size: 13px;
                        color: #969696;
                        background-color: transparent;
                        border-width: 0;
                        padding: 0;
                    }
                    .search_list{
                        li{
                            margin-right: 10px;
                            display: inline-block;
                            text-align: center;
                            margin-bottom: 10px;
                            float: left;
                            a{
                                padding: 2px 6px;
                                font-size: 14px;
                                color: #787878;
                                border: 1px solid #ddd;
                                border-radius: 3px;
                            }
                        }
                    }
                    .search_hide{
                        display: none;
                    }
                    
                }
            }
            .menu_active{
                color: #ea6f5a;
                i{
                    color: #ea6f5a;
                }
            }
            .menu_app:hover{
                background-color: #e7e7e7;
            }
        }
        .header_right{
            position: absolute;
            top: 0px;
            right: 0;
            .header_login{
                float: right;
                padding: 6px 12px;
                display: inline-block;
                color: #969696;
                margin: 14px 6px 0 10px;
                font-size: 15px;
            }
            .header_register{
                float: right;
                width: 80px;
                height: 38px;
                line-height: 38px;
                margin: 9px 5px 0 15px;
                border: 1px solid rgba(236,97,73,.7);
                border-radius: 20px;
                font-size: 15px;
                color: #ea6f5a;
                background-color: transparent;
            
            }
            .header_article{
                float: right;
                width: 100px;
                height: 40px;
                line-height: 40px;
                margin: 8px 12px 0;
                border-radius: 20px;
                font-size: 15px;
                color: #fff;
                background-color: #ea6f5a;
                
            }
        }
    }

}