.header_container{
    height: 56px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    margin-bottom: 20px;
    .header_content{
        min-width: 786px;
        max-width: 1440px;
        margin: 0 auto;
        height: auto;
        display: block;
        a{
            float: left;
            .header_navimg{
                width: 100px;
                height: 56px;  
            }
        } 
        .container{
            width: 960px;
            height: 56px;
            padding: 0 15px;
            background-color: red;
            margin: 0 auto;
        }
    }

}