@media (max-width: 1080px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 960px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }

}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    position: relative;
    .top_logo{
        margin-bottom: 40px;
       
        display: inline-block;
        overflow: hidden;
        .logo{
            width: 100px;
            height: 100px;
            float: left;
        }
        .text{
            float: left;
            height: 100px;
            margin-left: 20px;
            vertical-align: middle;
            span{
                font-size: 30px;
                line-height: 60px;
            }
            p{
                font-size: 24px;
                font-weight: 300;
            }
        }
    }
    .app_backgroud{
        width: 765px;
        height: 172px;
        position: absolute;
        left: 50%;
        top: 144px;
        margin-left: -380px;
        z-index: -1;
        margin-top: -100px;
    }
    .app_qucode{
        overflow: hidden;
        display: block;
        .phone{
            width: 410px;
            height: 314px;
            float: left;
        }
        .code_right{
            margin: 70px 0 40px 40px;
            vertical-align: bottom;
            text-align: left;
            display: inline-block;
            float: left;
            img{
                margin-left: -2px;
                width: 140px;
                height: 140px;
            }
            p{
                font-size: 24px;
                line-height: 48px;
            }
            span{
                margin-top: 4px;
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}

